@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #323033;
        --dark-primary-color: #1d2020;
        --secondary-color: #F8F8F8;
        --dark-secondary-color: #EBEBEB;
        --accent-color: #3CB9FF;
        --dark-accent-color: #00A3FF;


        --t-primary-color: #32303380;
        --t-dark-primary-color: #1d202080;
        --t-secondary-color: #F8F8F880;
        --t-dark-secondary-color: #EBEBEB80;
        --t-accent-color: #3CB9FF80;
        --t-dark-accent-color: #00A3FF80;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #F8F8F8;
        --dark-primary-color: #EBEBEB;
        --secondary-color: #323033;
        --dark-secondary-color: #101211;
        --accent-color: #EE6644;
        --dark-accent-color: #EC532C;

        --t-primary-color: #F8F8F880;
        --t-dark-primary-color: #EBEBEB80;
        --t-secondary-color: #32303380;
        --t-dark-secondary-color: #10121180;
        --t-accent-color: #EE664480;
        --t-dark-accent-color: #EC532C80;
    }
}