body {
    & main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        & .settings {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            position: fixed;
            right: 5px;
            top: 5px;

            & .gear-img {
                cursor: pointer;
                display: block;
                height: 30px;
                width: 30px;
                position: relative;
                right: 0;

                & svg {
                    height: 100%;

                    & path {
                        stroke: var(--secondary-color);
                    }
                }
            }

            & .settings-options {
                background-color: var(--alt-primary-color);
                padding: 5px;
                border-radius: 5px;
                border: solid 1px var(--alt-secondary-color);

                & #gens {
                    background-color: var(--primary-color);
                }
            }

            & #are-settings-open:checked~.settings-options {
                display: none;
            }
        }

        & .calc_form {
            width: min(95%, 1600px);
            box-sizing: border-box;
            border-radius: 5px;
            border: solid 2px var(--t-alt-secondary-color);
            background-color: var(--primary-color);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;

            & .option-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & #field-options-container {
                    & button {
                        all: unset;
                        background-color: var(--alt-primary-color);
                        padding: 5px;
                        border-radius: 2px;
                        cursor: pointer;
                        border: solid 1px var(--alt-primary-color);
                        box-sizing: border-box;

                        &:hover {
                            border: solid 1px var(--accent-color);
                        }
                    }
                }

                & .pkmn-container {
                    width: min(100%, 500px);
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 2px;
                    border: solid 2px var(--t-accent-color);
                    color: var(--primary-color);
                    font-size: var(--text-x-small);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    & .pkmn-sprite {
                        position: absolute;
                        right: 2px;
                        top: 2px;
                    }

                    & .selectables-container {
                        width: fit-content;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        padding: 10px 0;

                        & .status,
                        .item,
                        .ability,
                        .nature {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 10px;
                        }
                    }

                    & .health {
                        padding: 10px 0;
                    }

                    & input,
                    & select {
                        background-color: var(--t-alt-primary-color);
                    }

                    & .moves-container {

                        & .move-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 2px;
                            margin: 0 1px;

                            & input[type='number'] {
                                width: 3rem;
                            }

                            & select {
                                height: 100%;
                            }

                            & .crit-btn {
                                border: solid 1px var(--t-secondary-color);
                                margin: 2px;
                                border-radius: 2px;
                                padding: 2px;
                                cursor: pointer;
                            }

                            & input[type='checkbox']:checked+.crit-btn {
                                border-color: var(--accent-color);
                                color: var(--accent-color);
                            }
                        }
                    }
                }

                & #field-options-container {
                    width: min(100%, 300px);
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: var(--t-primary-color);
                    border-radius: 2px;
                    border: solid 2px var(--t-accent-color);
                }
            }
        }
    }
}